<%= simple_form_for donation do |f| %>
  <div class="row">
    <%= f.input :first_name, label: false, placeholder: "Nombre(s)", class: "form-control", input_html: { autofocus: true }, wrapper_html: { class: "col-4" } %>
    <%= f.input :last_name, label: false, placeholder: "Apellidos", class: "form-control", wrapper_html: { class: "col-4" } %>
    <%= f.input :email, label: false, placeholder: "Correo electronico: (mail@example.com)", class: "form-control", wrapper_html: { class: "col-4" } %>
  </div>
  <%= f.date_field :birth_date, class: "form-control mb-2" %>
  <div class="row">
    <%= f.input :phone_number, label: false, placeholder: "Numero de telefono", class: "form-control", wrapper_html: { class: "col-6" } %>
    <%= f.input :amount, label: false, placeholder: "Cuanto deseas donar?", class: "form-control", wrapper_html: { class: "col-6" } %>
  </div>

  <%= f.submit "Hacer donacion", class: "btn btn-danger" %>
<% end %>
